
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are completely open and are NOT secure.
    // They should only be used for a short period during initial development.
    // Any user can read, write, or delete any data in your database.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
